/****************************
ESTILOS DE BASE
*****************************/

:root {
    --primary-color: rgb(0, 0, 0);
    --text-light: rgb(255, 255, 255);
    --contrast-color: rgb(222,35,51);
    --hover-color: rgba(0, 0, 0, 0.5);
    --description-bg-color: rgb(244, 246, 247);
    font-size: 62.5%; /* (62,5/100) * 16px = 10px */
    --font-size--small: 1.4rem;
    --font-size--default: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: var(--font-size--default);
    font-weight: 400;
    color: var(--primary-color);
}

p {
    margin-bottom: 1.6rem;
}
a {
    color: var(--contrast-color);
    text-decoration: none;
}
p a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
h1 a {
    color: var(--primary-color);
}
h1 a:hover {
    color: var(--hover-color);
}
h2, h4 {
    margin: 2rem 0;
}
h1 {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -5px;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3.5rem;
}
h3 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}
h4 {
    font-size: 1.8rem;
}
abbr {
    letter-spacing: normal;
    text-decoration: none;
}
h1 abbr {
    font-weight: 700;
}
ul {
    list-style: none;
}
section {
    margin-bottom: 3rem;
}
cite {
    font-weight: 700;
}
figcaption {
    font-size: 1.5rem;
}
q {
    quotes: "«" "»";
}


/*********************************
ESTILOS COMUNES
En este apartado se encuentran 
los estilos y elementos comunes 
a todo el sitio web
*********************************/

/* 
Contenedores del sitio 
*/

header.header {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}
footer.footer {
    width: 100%;
    padding: 3rem 0;
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
}
main {
    padding: 2rem;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 950px;
}


/* 
Videos e imágenes responsive del sitio web 
*/

.img-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}
.video-fluid {
    aspect-ratio: 16 / 9;
    width: 100%;
    border: 0;
}


/* 
Navegación del sitio 
*/

nav.menu {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 3px 5px 0px rgba(192, 192, 192, 0.2);
    background-color: var(--text-light);   
}
nav.menu ul li {
    font-weight: 700;
    line-height: 2;
}
nav.menu ul li a {
    color: var(--primary-color);
}
nav.menu ul li a:hover {
    color: var(--hover-color);
}
.current {
    color: var(--contrast-color);
}

/* El menú será sticky únicamente en dispositivos medianos y grandes */
@media (min-width: 768px) {
    .menu {
        position: sticky;
        top: 0;
    }
}

/* Alineación a la izquierda de elementos principales en dispositivos grandes */
@media (min-width: 1200px) {
    header.header,
    footer.footer,
    nav.menu {
        text-align: left;
    }
    nav.menu ul li {
        display: inline-block;
        margin-right: 3rem;
    }
}


/* 
Contenidos del footer
*/

footer.footer p,
footer.footer a {
    font-size: var(--font-size--small);
    margin: 0;
    color: inherit;
}
footer.footer a:hover {
    color: var(--contrast-color);
}
footer ul {
    margin-bottom: 2rem; 
}
footer ul a:hover {
    opacity: .7;
}
.rrss li {
    display: inline-block;
}

@media (min-width: 1200px) {
    .contact li {
        display: inline-block;
        margin-right: 3rem;
    }
    .contact li:not(:last-child)::after {
        content: "\2022";
        position: relative;
        left: 18px;
    }
}

/* 
ELEMENTOS REUTILIZABLES
*/
/* Para lectores de pantalla: saltar al contenido principal */
.skip-main {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
}

.card {
    background-color: var(--description-bg-color);
    padding: 2.5rem;
}
.card-footer {
    font-size: var(--font-size--small);
    text-transform: uppercase;
    font-weight: 700;
}
.card-footer:hover {
    color: var(--primary-color);
}
.card-footer::before {
    content: ">";
    margin-right: 5px;
}

.circle-thumb {
    border-radius: 50%;
}

@media (min-width: 768px) {
    .overflow {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/****************************
PRIMER NIVEL - INDEX.HTML
*****************************/
.hero {
    background: no-repeat center/cover url("../img/bg-hero-home-m.jpg");
    height: 32rem;
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero p {
    font-size: clamp( 3rem, 7vw, 6rem);
    text-align: center;
} 
.intro p {
    font-size: clamp( 1.8rem, 2.5vw, 2.5rem);
}

@media (min-width: 1200px) {
    .hero p {
        line-height: 1;
        padding: 0 12.5%;
    }
    .intro {
        padding: 0 8rem;
    }
} 

.al-dia {
    padding: 0 2rem;
}
.grid {
    display: grid;
    gap: 3.5rem;
}
@media (min-width: 768px) { 
    .al-dia .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
.index a:hover {
    color: var(--primary-color);
    opacity: 1;
}


/****************************
SEGUNDO NIVEL – 
APLICACIONES.HTML 
EN-EL-CINE.HTML
*****************************/

/* Aplicaciones */

@media (min-width: 768px) {
    .aplicaciones .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .aplicaciones .grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
}

/* En el cine */
.cine .card {
    padding: 0;
}
.grid figcaption {
    padding: 1.5rem;
    line-height: 1.5;
}
.info-peli::after {
    content: "|";
    margin: 0 5px;
}

@media (min-width: 1200px) {
    .grid figure {
        margin: 0;
    }
    .cine .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/****************************
TERCER NIVEL –
DESPACHO-42.HTML
*****************************/

/* Breadcrumb */
nav.breadcrumb {
    padding: 2rem;
}
nav.breadcrumb a:hover {
    color: var(--hover-color);
}
.breadcrumb ul {
    display: flex;
    flex-wrap: nowrap;
    height: 2.5rem;
}
.breadcrumb ul li {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.breadcrumb ul li a:not(last-child) {
    color: var(--primary-color);
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .5rem;
    content: ">";
}
.breadcrumb ul li:last-child {
    width: 24.5ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--contrast-color);
}

/* Main */
main.despacho {
    padding: 0 2rem;
}
@media (min-width: 1200px ) {
    main.despacho .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
.despacho a:hover {
    color: var(--primary-color);
}

.noticia figure time::before {
    content: "|";
    margin: 0 1rem;
}
.despacho h2 {
    text-align: left;
    line-height: 1;
    padding: 0;
}

/* Sección info-noticia */
.info-noticia {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

/* Disposición de isologo y texto en pantallas grandes */
@media (min-width: 768px) {
    .info-noticia {
        flex-direction: row;
    }
    .info-noticia img {
        margin-right: 2.5rem;
    }
}
.info-noticia img {
    width: 7.2rem;
    border-radius: 20%;
    align-self: start;
}
.info-noticia ul li a::before {
    content: ">";
    margin-right: 5px;
}

/* Sección comentarios // Formulario */
label {
    display: block;
    padding-bottom: .5rem;
}
input, textarea {
    width: 100%;
    background-color: var(--description-bg-color);
    border: none;
    padding: 2rem;
    margin-bottom: 3rem;
}
textarea {
    height: 15rem;
}
input[type="checkbox"] {
    width: auto;
}
input[type="checkbox"]+label {
    display: inline;
}
button {
    padding: 1rem .5rem;
    background-color: var(--contrast-color);
    color: var(--text-light);
    text-transform: uppercase;
    border: none;
}
button:hover {
    cursor: pointer;
}


/* Sección Artículos recientes */
.articulos-recientes article {
    display: flex;
    flex-wrap: wrap;
}
.articulos-recientes article::after {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--primary-color);
    opacity: .2;
    width: 100%;
    margin: 1.5rem 0;
}
.articulos-recientes .circle-thumb {
    width: 25%;
    margin-right: 5%;
    align-self: flex-start;
}
.info {
    width: 70%;
}
.info h3 {
    margin: 0;
    font-size: var(--font-size--small);
    text-transform: uppercase;
    color: var(--primary-color);
}
.info a {
    color: var(--primary-color);
}
.info a:hover {
    color: var(--hover-color);
}
@media (min-width: 768px) {
    .articulos-recientes {
        max-width: 66%;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .articulos-recientes h2 {
        margin-top: 0;
    }
}
